<div class="container">
  <div class="dados">
    <h2>DIGITE OS DADOS DO USUARIO</h2>


    <input name="nome" type="text" placeholder="Nome">


    <input name=" idade" type="number" placeholder="idade">


    <input name="skills" type="text" placeholder="Skills">

    <button>Cadastrar usuario</button>
  </div>


  <div class="resultados">
    <h2>RESULTADOS</h2>
    <ul>
      <li>
        Nome: Kleber
        Idade: 33
        Skills: Porra nenhuma

      </li>
      <li>
        Nome: Kleber 2
        Idade: 33
        Skills: Porra nenhuma

      </li>

      <li>
        Nome: Kleber 3
        Idade: 33
        Skills: Porra nenhuma


      </li>
    </ul>

  </div>
</div>
