.container {
  display: flex;
  border-radius: 20px;
  border: 2px solid #FFF2E7;
  background: #483636;
  width: 900px;
  margin: 0 auto;

}

h2 {
  color: #FFF2E7;
  font-size: 30px;
}

.dados {
  width: 370px;
  margin: 0 auto;
}

.resultados {
  width: 370px;
  margin: 0 auto;
}

label {
  color: #FFF2E7;
}

input {
  background: #FFF2E7;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  width: 361px;
  height: 50px;
  background: rgba(255, 242, 231, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: 25px;
  font-family: 'Concert One', cursive;
}

input:focus {
  outline: none;
}

.linha-vertical {
  height: 430px;
  border-left: 3px solid #FFF2E7;
}

button {
  margin-top: 20px;
  font-family: 'Concert One', cursive;
  width: 361px;
  height: 70px;
  font-size: 25px;
  background: #FFF2E7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px
}

li {
  text-decoration: none;
  display: block;
  color: #B3DFD3;
}

span {
  color: #EFC764;
}
