<div class="container">
  <div class="dados">
    <h2>DIGITE OS DADOS DO USUARIO:</h2>

    <input name="nome" type="text" placeholder="Nome" [(ngModel)]="usuario.nome">

    <input name=" idade" type="number" [(ngModel)]="usuario.idade">

    <input name="skills" type="text" placeholder="Skills" [(ngModel)]="usuario.skills">

    <button (click)="criarUsuario()">Cadastrar usuario</button>
  </div>

  <div class="linha-vertical"></div>

  <div class="resultados">
    <h2>RESULTADOS:</h2>
    <ul>
      <li *ngFor="let item of caixinhaDeUsuario">
        Nome: <span>{{item.nome}}</span><br>
        Idade: <span> {{item.idade}}</span><br>
        Skills: <span>{{item.skills}}</span><br>
        <hr>
      </li>
    </ul>

  </div>
</div>

<p-dialog header="Header" [(visible)]="exibirMensagem" [style]="{width: '50vw'}">
  <p>Preencha todos os campos antes de prosseguir.</p>
</p-dialog>
